.aboutBottom{
    width: 1200px;
}
.about .aboutBottom{
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
}